/* line 151, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
.footer {
  padding: 248px 0 0 0;
}

/* line 153, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
.footer_container {
  width: 1160px;
  margin: auto;
}

/* line 156, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
.footer_top {
  display: flex;
  justify-content: space-between;
}

/* line 159, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
.footer_logo {
  width: 218px;
  height: 95px;
}

/* line 162, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
.footer_descr {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

/* line 169, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
.footer_ip {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #5C5C5C;
  margin-top: 20px;
}

/* line 177, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
.footer_icon {
  padding: 20px 0 0 0;
}

/* line 179, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
.footer_telegram {
  width: 32px;
  height: 32px;
}

/* line 182, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
.footer_whatsapp {
  width: 34px;
  height: 34px;
}

/* line 185, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
.footer_info {
  display: flex;
  flex-direction: column;
}

/* line 188, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
.footer_info:hover {
  color: #FFC815;
}

/* line 190, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
.footer_info_color {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

/* line 198, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
.footer_info_color:hover {
  color: #FFC815;
}

/* line 200, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
.footer_info_item {
  margin-top: 17px;
  text-decoration: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

/* line 209, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
.footer_info_item:hover {
  color: #FFC815;
}

/* line 211, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
.footer_select {
  display: flex;
  flex-direction: column;
}

/* line 214, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
.footer_select:hover {
  color: #FFC815;
}

/* line 216, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
.footer_call {
  display: flex;
  flex-direction: column;
}

/* line 219, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
.footer_call_number {
  display: flex;
  flex-direction: column;
}

/* line 222, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
.footer_call_number_phone {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  text-align: right;
}

/* line 231, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
.footer_call_number_phone:hover {
  color: #FFC815;
}

/* line 233, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
.footer_call_descr {
  margin-top: 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #5C5C5C;
  text-align: right;
}

/* line 242, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
.footer_call_mail {
  margin-top: 30px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFC815;
  text-align: right;
}

/* line 251, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
.footer_call_mail:hover {
  color: #FFC815;
}

/* line 253, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
.footer_avito {
  width: 150px;
  height: 150px;
}

/* line 256, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
.footer_avito_img {
  width: 100%;
}

/* line 260, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
.footer_bottom_container {
  display: flex;
  justify-content: space-between;
  padding: 70px 0 0 0;
  margin-bottom: 50px;
  width: 1210px;
}

/* line 266, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
.footer_bottom_img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 521px;
}

/* line 271, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
.footer_bottom_img_master {
  width: 57px;
  height: 30.93px;
}

/* line 274, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
.footer_bottom_img_maestro {
  width: 57px;
  height: 30.2px;
}

/* line 277, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
.footer_bottom_img_visa {
  width: 57px;
  height: 18.48px;
}

/* line 280, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
.footer_bottom_img_world {
  width: 57px;
  height: 17.1px;
}

/* line 283, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
.footer_bottom_img_halva {
  width: 57px;
  height: 19.85px;
}

/* line 286, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
.footer_bottom_img_umoney {
  width: 57px;
  height: 13.72px;
}

/* line 289, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
.footer_bottom_img_qiwi {
  width: 46.55px;
  height: 28px;
}

/* line 293, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
.footer_bottom_finish_item {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

/* line 300, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
.footer_bottom_finish_subitem {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #5C5C5C;
  text-align: right;
}
