/* line 613, C:/Users/User/Desktop/rippo-project/src/sass/_general.sass */
.pay {
	padding: 20px 0 20px 0;
  }
  
  /* line 615, C:/Users/User/Desktop/rippo-project/src/sass/_general.sass */
  .pay_title {
	margin: 20px 0;
	font-size: 32px;
  }
  
  /* line 618, C:/Users/User/Desktop/rippo-project/src/sass/_general.sass */
  .pay_content {
	padding: 20px 10px;
	margin: 0px 5px;
	background-color: white;
	border-radius: 10px;
  }
  
  /* line 623, C:/Users/User/Desktop/rippo-project/src/sass/_general.sass */
  .pay_content_table {
	width: 100%;
  }
  
  /* line 625, C:/Users/User/Desktop/rippo-project/src/sass/_general.sass */
  .pay_content_table_header {
	background-color: black;
  }
  
  /* line 627, C:/Users/User/Desktop/rippo-project/src/sass/_general.sass */
  .pay_content_table_header_photo {
	color: white;
	padding-left: 10px;
  }
  
  /* line 630, C:/Users/User/Desktop/rippo-project/src/sass/_general.sass */
  .pay_content_table_header_text {
	color: white;
	text-align: center;
  }
  
  /* line 633, C:/Users/User/Desktop/rippo-project/src/sass/_general.sass */
  .pay_content_table_body {
	padding-left: 10px;
	text-align: center;
	height: 55px;
	border-bottom: 1px solid #E8E8E8;
  }
  
  /* line 638, C:/Users/User/Desktop/rippo-project/src/sass/_general.sass */
  .pay_content_table_body_item {
	text-align-last: left;
	padding-left: 5px;
  }
  
  /* line 641, C:/Users/User/Desktop/rippo-project/src/sass/_general.sass */
  .pay_content_table_body_wrap_name {
	font-weight: 600;
	font-size: 15px;
  }
  
  /* line 644, C:/Users/User/Desktop/rippo-project/src/sass/_general.sass */
  .pay_content_table_body_wrap_size {
	font-size: 14px;
  }
  
  /* line 646, C:/Users/User/Desktop/rippo-project/src/sass/_general.sass */
  .pay_content_table_body_model {
	font-size: 15px;
  }
  
  /* line 648, C:/Users/User/Desktop/rippo-project/src/sass/_general.sass */
  .pay_content_table_body_menu_item {
	border: none;
	border-radius: 5px;
	width: 37px;
	height: 34px;
	font-weight: 600;
  }
  
  /* line 654, C:/Users/User/Desktop/rippo-project/src/sass/_general.sass */
  .pay_content_table_body_menu_text {
	display: inline-block;
	width: 50px;
	height: 34px;
  }
  
  /* line 658, C:/Users/User/Desktop/rippo-project/src/sass/_general.sass */
  .pay_content_table_body_menu_close {
	border: none;
	border-radius: 5px;
	width: 37px;
	height: 34px;
  }
  
  /* line 663, C:/Users/User/Desktop/rippo-project/src/sass/_general.sass */
  .pay_content_table_body_price {
	font-size: 15px;
  }
  
  /* line 665, C:/Users/User/Desktop/rippo-project/src/sass/_general.sass */
  .pay_content_table_body_total {
	font-weight: 600;
	font-size: 15px;
  }
  
  /* line 668, C:/Users/User/Desktop/rippo-project/src/sass/_general.sass */
  .pay_content_advance {
	text-align: right;
	margin-top: 15px;
  }
  
  /* line 671, C:/Users/User/Desktop/rippo-project/src/sass/_general.sass */
  .pay_content_advance_price {
	display: inline-block;
	min-width: 60px;
	margin: 0 25px;
  }
  
  /* line 675, C:/Users/User/Desktop/rippo-project/src/sass/_general.sass */
  .pay_content_advance_img {
	width: 54px;
	height: 15px;
  }
  
  /* line 678, C:/Users/User/Desktop/rippo-project/src/sass/_general.sass */
  .pay_aside {
	float: right;
	min-width: 280px;
	max-width: 900px;
	width: 24%;
	margin-top: 50px;
  }
  
  /* line 684, C:/Users/User/Desktop/rippo-project/src/sass/_general.sass */
  .pay_aside_text {
	font-size: 16px;
  }
  
  /* line 686, C:/Users/User/Desktop/rippo-project/src/sass/_general.sass */
  .pay_promo {
	width: 905px;
  }
  
  /* line 688, C:/Users/User/Desktop/rippo-project/src/sass/_general.sass */
  .pay_promo_data {
	padding: 20px 10px 20px 30px;
	border-left: 1px solid #e0e0e0;
	margin-left: 20px;
	margin-top: 20px;
  }
  
  /* line 693, C:/Users/User/Desktop/rippo-project/src/sass/_general.sass */
  .pay_promo_data_title {
	font-size: 20px;
	font-weight: 600;
  }
  
  /* line 696, C:/Users/User/Desktop/rippo-project/src/sass/_general.sass */
  .pay_promo_data_title::before {
	position: absolute;
	content: "1";
	width: 31px;
	height: 30px;
	margin-top: -5px;
	margin-left: -47px;
	text-align: center;
	padding: 7px;
	font-size: 14px;
	display: block;
	border-radius: 50%;
	background-color: white;
	box-shadow: 1px 1px 1px;
	color: black;
  }
  
  /* line 711, C:/Users/User/Desktop/rippo-project/src/sass/_general.sass */
  .pay_promo_data_fields {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
  }

  .pay_promo_data_fields_wrap {
	width: 50%;
  }
  
  input[type="text"] {
	border-radius: 10px;
	padding: 30px 15px;
	width: 369px;
	border: 1px solid #e0e0e0;
	margin-bottom: 10px;
  }

  input[type="email"] {
	border-radius: 10px;
	padding: 30px 15px;
	width: 369px;
	border: 1px solid #e0e0e0;
	margin-bottom: 10px;
  }

  #pay_promo_addres {
	margin: 0 0 0 10px;
  }
  
  /* line 746, C:/Users/User/Desktop/rippo-project/src/sass/_general.sass */
  .pay_promo_addres {
	padding: 20px 10px 20px 30px;
	border-left: 1px solid #e0e0e0;
	margin-left: 20px;
	margin-top: 20px;
  }
  
  /* line 751, C:/Users/User/Desktop/rippo-project/src/sass/_general.sass */
  .pay_promo_addres_title {
	font-size: 20px;
	font-weight: 600;
  }
  
  /* line 754, C:/Users/User/Desktop/rippo-project/src/sass/_general.sass */
  .pay_promo_addres_title::before {
	position: absolute;
	content: "2";
	width: 31px;
	height: 30px;
	margin-top: -5px;
	margin-left: -47px;
	text-align: center;
	padding: 7px;
	font-size: 14px;
	display: block;
	border-radius: 50%;
	background-color: white;
	box-shadow: 1px 1px 1px;
	color: black;
  }
  
  /* line 769, C:/Users/User/Desktop/rippo-project/src/sass/_general.sass */
  .pay_promo_addres_fields {
	display: flex;
	flex-wrap: wrap;
  }
  
  /* line 772, C:/Users/User/Desktop/rippo-project/src/sass/_general.sass */
  .pay_promo_addres_fields_country {
	width: 370px;
	background-color: #fff;
	border-radius: 10px;
	border: 1px solid #e0e0e0;
	margin: 0 10px 10px 0px;
	padding: 30px 15px;
  }
  
  /* line 780, C:/Users/User/Desktop/rippo-project/src/sass/_general.sass */
  .pay_promo_addres_fields_city {
	width: 339px;
	background-color: #fff;
	border-radius: 10px;
	margin-top: 15px;
	border: 1px solid #e0e0e0;
	padding: 18px 15px;
	color: #C8C8C8;
  }
  
  /* line 788, C:/Users/User/Desktop/rippo-project/src/sass/_general.sass */
  .pay_promo_addres_fields_region {
	width: 370px;
	background-color: #fff;
	border-radius: 10px;
	border: 1px solid #e0e0e0;
	padding: 30px 15px;
  }
  
  /* line 796, C:/Users/User/Desktop/rippo-project/src/sass/_general.sass */
  .pay_promo_addres_fields_home {
	width: 339px;
	background-color: #fff;
	border-radius: 10px;
	border: 1px solid #e0e0e0;
	margin-top: 15px;
	padding: 18px 15px;
	color: #C8C8C8;
  }
  
  /* line 804, C:/Users/User/Desktop/rippo-project/src/sass/_general.sass */
  .pay_payment {
	padding: 20px 10px 20px 30px;
	border-left: 1px solid #e0e0e0;
	margin-left: 20px;
	margin-top: 20px;
  }
  
  /* line 809, C:/Users/User/Desktop/rippo-project/src/sass/_general.sass */
  .pay_payment_title {
	font-size: 20px;
	font-weight: 600;
  }
  
  /* line 812, C:/Users/User/Desktop/rippo-project/src/sass/_general.sass */
  .pay_payment_title::before {
	position: absolute;
	content: "3";
	width: 31px;
	height: 30px;
	margin-top: -5px;
	margin-left: -47px;
	text-align: center;
	padding: 7px;
	font-size: 14px;
	display: block;
	border-radius: 50%;
	background-color: white;
	box-shadow: 1px 1px 1px;
	color: black;
  }
  
  /* line 827, C:/Users/User/Desktop/rippo-project/src/sass/_general.sass */
  .pay_payment_subtitle {
	font-size: 14px;
	font-weight: 600;
	margin-top: 20px;
  }
  
  /* line 831, C:/Users/User/Desktop/rippo-project/src/sass/_general.sass */
  .pay_payment_map {
	margin-top: 10px;
	width: 305px;
	height: 25px;
	background-color: #808080;
	border-radius: 5px;
  }
  
  /* line 837, C:/Users/User/Desktop/rippo-project/src/sass/_general.sass */
  .pay_payment_map_link {
	display: block;
	font-size: 15px;
	text-align: center;
	color: white;
	text-decoration: none;
  }
  
  /* line 843, C:/Users/User/Desktop/rippo-project/src/sass/_general.sass */
  .pay_payment_map_link:hover {
	color: white;
	opacity: .7;
  }
  
  /* line 846, C:/Users/User/Desktop/rippo-project/src/sass/_general.sass */
  .pay_payment_info {
	background-color: #fff;
	width: 746px;
	height: 56px;
	padding: 7px;
	margin-top: 10px;
  }
  
  /* line 852, C:/Users/User/Desktop/rippo-project/src/sass/_general.sass */
  .pay_payment_info_cdek {
	width: 45px;
	height: 45px;
  }
  
  /* line 855, C:/Users/User/Desktop/rippo-project/src/sass/_general.sass */
  .pay_payment_info_text {
	font-size: 15px;
  }
  
  /* line 857, C:/Users/User/Desktop/rippo-project/src/sass/_general.sass */
  .pay_payment_option {
	margin-top: 5px;
  }
  
  /* line 859, C:/Users/User/Desktop/rippo-project/src/sass/_general.sass */
  .pay_payment_post {
	background-color: #fff;
	width: 746px;
	height: 56px;
	padding: 15px;
	margin-top: 20px;
  }
  
  /* line 865, C:/Users/User/Desktop/rippo-project/src/sass/_general.sass */
  .pay_payment_post_text {
	margin-left: 10px;
	font-size: 14px;
  }
  
  /* line 868, C:/Users/User/Desktop/rippo-project/src/sass/_general.sass */
  .pay_select {
	padding: 20px 10px 20px 30px;
	border-left: 1px solid #e0e0e0;
	margin-left: 20px;
	margin-top: 20px;
  }
  
  /* line 873, C:/Users/User/Desktop/rippo-project/src/sass/_general.sass */
  .pay_select_title {
	font-size: 20px;
	font-weight: 600;
  }
  
  /* line 876, C:/Users/User/Desktop/rippo-project/src/sass/_general.sass */
  .pay_select_title::before {
	position: absolute;
	content: "4";
	width: 31px;
	height: 30px;
	margin-top: -5px;
	margin-left: -47px;
	text-align: center;
	padding: 7px;
	font-size: 14px;
	display: block;
	border-radius: 50%;
	background-color: white;
	box-shadow: 1px 1px 1px;
	color: black;
  }
  
  /* line 891, C:/Users/User/Desktop/rippo-project/src/sass/_general.sass */
  .pay_select_menu {
	width: 745px;
	border-radius: 7px;
	margin-top: 20px;
  }
  
  /* line 896, C:/Users/User/Desktop/rippo-project/src/sass/_general.sass */
  .pay_select_menu_item {
	background-color: #fff;
	width: 745px;
	height: 57px;
	border: 1px solid #ccc;
	box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2);
	border-radius: 7px;
	padding: 18px;
	margin: 15px 0 1px 0;
  }
  
  /* line 905, C:/Users/User/Desktop/rippo-project/src/sass/_general.sass */
  .pay_select_menu_item_img {
	width: 124px;
	height: 16px;
  }
  
  /* line 908, C:/Users/User/Desktop/rippo-project/src/sass/_general.sass */
  .pay_select_menu_item_youkassa {
	width: 114px;
	height: 24px;
  }
  
  /* line 911, C:/Users/User/Desktop/rippo-project/src/sass/_general.sass */
  .pay_select_menu_item_cod {
	width: 24px;
	height: 24px;
  }
  
  /* line 914, C:/Users/User/Desktop/rippo-project/src/sass/_general.sass */
  .pay_select_menu_item_text {
	font-size: 15px;
  }
  
  /* line 916, C:/Users/User/Desktop/rippo-project/src/sass/_general.sass */
  .pay_comment {
	padding: 20px 10px 20px 30px;
	border-left: 1px solid #e0e0e0;
	margin-left: 20px;
	margin-top: 20px;
  }
  
  /* line 921, C:/Users/User/Desktop/rippo-project/src/sass/_general.sass */
  .pay_comment_text {
	width: 100%;
	height: 100px;
	background-color: #fff;
  }
  
  /* line 925, C:/Users/User/Desktop/rippo-project/src/sass/_general.sass */
  .pay_document {
	font-size: 15px;
	margin-top: 15px;
  }
  
  /* line 928, C:/Users/User/Desktop/rippo-project/src/sass/_general.sass */
  .pay_document_link {
	text-decoration: none;
  }
  
  /* line 930, C:/Users/User/Desktop/rippo-project/src/sass/_general.sass */
  .pay_btn {
	width: 250px;
	height: 65px;
	margin-top: 35px;
	background-color: red;
	color: white;
	font-size: 14px;
	font-weight: 600;
	border-radius: 7px;
	border: none;
	cursor: pointer;
  }
  
  /* line 940, C:/Users/User/Desktop/rippo-project/src/sass/_general.sass */
  .form-control {
	width: 100%;
	box-sizing: border-box;
	min-height: 100px;
	border: 1px solid  #A9A9A9;
  }
  
  /* line 945, C:/Users/User/Desktop/rippo-project/src/sass/_general.sass */
  .post {
	margin-top: 30px;
  }
  
  @media (max-width: 360px) {
	input[type="text"] {
		width: 100%;
		padding: 20px 0;
		text-align: center;
	}

	#pay_promo_surname {
		margin-left: 10px;
	}

	input[type="email"] {
		width: 100%;
		padding: 20px 0;
		margin-left: 10px;
		text-align: center;
	}

	/* line 3, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_content {
	  width: 100%;
	  padding: 0;
	  margin: 0;
	}

	.advance_text {
		display: flex;
		justify-content: end;
	}

	.advance_text_price {
		display: flex;
		justify-content: end;
	}

	.pay_content_wrap {
		overflow-x: auto;
	}

	/* line 7, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_content_table {
	  width: 500px;
	  border: 1px solid #808080
	}
	/* line 12, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_content_table_header_text {
	  font-size: 13px;
	}
	/* line 14, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_content_table_body {
	  padding: 0;
	}
	/* line 19, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_content_table_body_wrap_name {
	  font-size: 14px;
	}
	/* line 21, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_content_table_body_wrap_size {
	  font-size: 13px;
	}
	/* line 23, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_content_table_body_model {
	  font-size: 13px;
	}
	/* line 26, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_content_table_body_menu_wrap {
	  display: flex;
	  justify-content: center;
	}
	/* line 28, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_content_table_body_menu_item {
	  height: 25px;
	  width: 25px;
	  cursor: pointer;
	}
	/* line 32, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_content_table_body_menu_text {
	  height: 40px;
	  width: 25px;
	}
	/* line 35, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_content_table_body_menu_close {
	  height: 25px;
	  width: 25px;
	  cursor: pointer;
	}
	/* line 39, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_content_table_body_price {
	  font-size: 14px;
	}
	/* line 41, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_content_table_body_total {
	  font-size: 14px;
	}
	/* line 43, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_content_advance {
	  font-size: 14px;
	}
	.pay_content_advance_price {
		min-width: 39px;
	}
	/* line 45, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_aside {
	  display: none;
	}
	/* line 48, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_promo {
	  width: 100%;
	}
	/* line 51, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_promo_data_title {
	  font-size: 18px;
	}
	/* line 54, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_promo_data_fields_name {
	  margin: 0 0 10px 0;
	  height: 100%;
	  width: 100%;
	}
	/* line 57, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_promo_data_fields_surname {
	  margin: 0 0 10px 0;
	  height: 100%;
	  width: 100%;
	}
	/* line 60, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_promo_data_fields_phone {
	  margin: 0 0 10px 0;
	  height: 100%;
	  width: 100%;
	}
	/* line 63, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_promo_data_fields_mail {
	  margin: 0 0 10px 0;
	  height: 100%;
	  width: 100%;
	}
	/* line 67, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_promo_addres_title {
	  font-size: 18px;
	}

	.pay_promo_addres_fields_wrap {
		width: 50%;
	}

	/* line 70, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_promo_addres_fields_country {
	  margin: 0;
	  width: 100%;
	  padding: 20px 0;
	}
	#pay_promo_city {
		margin-left: 10px;
	}
	/* line 73, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_promo_addres_fields_city {
	  margin: 0 0 10px 0;
	  height: 100%;
	  width: 100%;
	  padding: 18px 0;
	}
	/* line 76, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_promo_addres_fields_region {
	  margin: 0;
	  height: 100%;
	  width: 100%;
	  padding: 20px 0;
	}
	/* line 79, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_promo_addres_fields_home {
	  margin: 0 0 10px 0;
	  height: 100%;
	  width: 100%;
	  padding: 18px 0;
	}
	/* line 84, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_payment_title {
	  font-size: 18px;
	}
	.pay_payment_map {
		width: 100%;
	}
	/* line 87, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_payment_map_link {
	  font-size: 14px;
	}
	/* line 89, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_payment_info {
	  width: 100%;
	}
	/* line 91, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_payment_info_text {
	  font-size: 14px;
	  display: flex;
	  flex-wrap: wrap;
	}
	.pay_payment_option {
		margin-top: 30px;
		width: 100%;
	}
	.post {
		margin-top: 30px;
	}
	.pay_payment_post {
		width: 100%;
		height: auto;
		padding: 0;
		margin: 0;
	}
	/* line 95, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_select_title {
	  font-size: 14px;
	}
	/* line 97, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_select_menu {
	  width: 100%;
	  box-shadow: none;
	}
	/* line 100, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_select_menu_item {
	  width: 100%;
	  border: 1px solid #ccc;
	  margin-top: 10px;
	  padding: 5px;
	  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2);
	}
	/* line 108, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_comment_text {
	  width: 100%;
	}
	/* line 110, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_btn {
	  width: 50%;
	  height: 55px;
	  cursor: pointer;
	}
  }
 
  @media (min-width: 360px)  and (max-width: 576px) {

	input[type="text"] {
		width: 100%;
		padding: 20px 0;
		text-align: center;
	}

	#pay_promo_surname {
		margin-left: 10px;
	}

	input[type="email"] {
		width: 100%;
		padding: 20px 0;
		margin-left: 10px;
		text-align: center;
	}

	/* line 3, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_content {
		width: 100%;
		padding: 0;
		margin: 0;
	}

	.pay_content_wrap {
		overflow-x: auto;
	}

	.advance_text {
		display: flex;
		justify-content: end;
	}

	/* line 7, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_content_table {
		width: 500px;
		border: 1px solid #808080
	}

	/* line 12, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_content_table_header_text {
		font-size: 13px;
	}
	/* line 14, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_content_table_body {
		padding: 0;
	}

	/* line 19, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_content_table_body_wrap_name {
		font-size: 14px;
	}
	/* line 21, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_content_table_body_wrap_size {
		font-size: 13px;
	}
	/* line 23, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_content_table_body_model {
		font-size: 13px;
	}
	/* line 26, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_content_table_body_menu_wrap {
		display: flex;
	}
	/* line 28, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_content_table_body_menu_item {
		height: 25px;
		width: 25px;
		cursor: pointer;
	}
	/* line 32, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_content_table_body_menu_text {
		height: 40px;
		width: 25px;
	}
	/* line 35, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_content_table_body_menu_close {
		height: 25px;
		width: 25px;
		cursor: pointer;
	}
	/* line 39, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_content_table_body_price {
		font-size: 14px;
	}
	/* line 41, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_content_table_body_total {
		font-size: 14px;
	}
	/* line 43, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_content_advance {
		font-size: 14px;
	}
	.pay_content_advance_price {
		min-width: 39px;
	}
	/* line 45, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_aside {
		display: none;
	}
	/* line 48, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_promo {
		width: 100%;
	}
	/* line 51, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_promo_data_title {
		font-size: 18px;
	}
	/* line 54, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_promo_data_fields_name {
		margin: 0 0 10px 0;
		height: 100%;
		width: 100%;
	}
	/* line 57, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_promo_data_fields_surname {
		margin: 0 0 10px 0;
		height: 100%;
		width: 100%;
	}
	/* line 60, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_promo_data_fields_phone {
		margin: 0 0 10px 0;
		height: 100%;
		width: 100%;
	}
	/* line 63, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_promo_data_fields_mail {
		margin: 0 0 10px 0;
		height: 100%;
		width: 100%;
	}
	/* line 67, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_promo_addres_title {
		font-size: 18px;
	}

	.pay_promo_addres_fields_wrap {
		width: 50%;
	}

	/* line 70, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_promo_addres_fields_country {
		margin: 0;
		width: 100%;
		padding: 20px 0;
	}
	#pay_promo_city {
		margin-left: 10px;
	}
	/* line 73, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_promo_addres_fields_city {
		margin: 0 0 10px 0;
		height: 100%;
		width: 100%;
		padding: 18px 0;
	}
	/* line 76, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_promo_addres_fields_region {
		margin: 0;
		height: 100%;
		width: 100%;
		padding: 20px 0;
	}
	/* line 79, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_promo_addres_fields_home {
		margin: 0 0 10px 0;
		height: 100%;
		width: 100%;
		padding: 18px 0;
	}
	/* line 84, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_payment_title {
		font-size: 18px;
	}
	.pay_payment_map {
		width: 100%;
	}
	/* line 87, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_payment_map_link {
		font-size: 14px;
	}
	/* line 89, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_payment_info {
		width: 100%;
	}
	/* line 91, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_payment_info_text {
		font-size: 14px;
		display: flex;
		flex-wrap: wrap;
	}
	.pay_payment_option {
		margin-top: 30px;
		width: 100%;
	}
	.post {
		margin-top: 30px;
	}
	.pay_payment_post {
		width: 100%;
		height: auto;
		padding: 0;
		margin: 0;
	}
	/* line 95, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_select_title {
		font-size: 14px;
	}
	/* line 97, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_select_menu {
		width: 100%;
		box-shadow: none;
	}
	/* line 100, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_select_menu_item {
		width: 100%;
		border: 1px solid #ccc;
		margin-top: 10px;
		padding: 5px;
		box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2);
	}
	/* line 108, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_comment_text {
		width: 100%;
	}
	/* line 110, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_btn {
		width: 50%;
		height: 55px;
		cursor: pointer;
	}
  }
  
  @media (min-width: 576px) and (max-width: 768px) {

	input[type="text"] {
		width: 100%;
		padding: 20px 0;
		text-align: center;
	}

	#pay_promo_surname {
		margin-left: 10px;
	}

	input[type="email"] {
		width: 100%;
		padding: 20px 0;
		margin-left: 10px;
		text-align: center;
	}

	/* line 118, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_content {
	  width: 100%;
	  padding: 0;
	  margin: 0;
	}
	/* line 122, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_content_table {
	  width: 100%;
	}
	/* line 125, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_content_table_header_photo {
	  display: none;
	}
	/* line 127, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_content_table_header_text {
	  font-size: 13px;
	}
	/* line 129, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_content_table_body {
	  padding: 0;
	}
	/* line 131, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_content_table_body_item {
	  display: none;
	}
	/* line 134, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_content_table_body_wrap_name {
	  font-size: 14px;
	}
	/* line 136, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_content_table_body_wrap_size {
	  font-size: 13px;
	}
	/* line 138, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_content_table_body_model {
	  font-size: 13px;
	}
	/* line 141, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_content_table_body_menu_wrap {
	  display: flex;
	}
	/* line 143, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_content_table_body_menu_item {
	  height: 25px;
	  width: 25px;
	  cursor: pointer;
	}
	/* line 147, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_content_table_body_menu_text {
	  height: 40px;
	  width: 25px;
	}
	/* line 150, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_content_table_body_menu_close {
	  height: 25px;
	  width: 25px;
	  cursor: pointer;
	}
	/* line 154, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_content_table_body_price {
	  font-size: 14px;
	}
	/* line 156, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_content_table_body_total {
	  font-size: 14px;
	}
	/* line 158, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_content_advance {
	  font-size: 14px;
	}
	/* line 160, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_aside {
	  display: none;
	}
	/* line 163, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_promo {
	  width: 100%;
	}
	/* line 54, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_promo_data_fields_name {
		margin: 0 0 10px 0;
		height: 100%;
		width: 100%;
	}
	/* line 57, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_promo_data_fields_surname {
		margin: 0 0 10px 0;
		height: 100%;
		width: 100%;
	}
	/* line 60, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_promo_data_fields_phone {
		margin: 0 0 10px 0;
		height: 100%;
		width: 100%;
	}
	/* line 63, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_promo_data_fields_mail {
		margin: 0 0 10px 0;
		height: 100%;
		width: 100%;
	}
	/* line 67, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_promo_addres_title {
		font-size: 18px;
	}

	.pay_promo_addres_fields_wrap {
		width: 50%;
	}

	/* line 70, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_promo_addres_fields_country {
		margin: 0;
		width: 100%;
		padding: 20px 0;
	}
	#pay_promo_city {
		margin-left: 10px;
	}
	/* line 73, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_promo_addres_fields_city {
		margin: 0 0 10px 0;
		height: 100%;
		width: 100%;
		padding: 18px 0;
	}
	/* line 76, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_promo_addres_fields_region {
		margin: 0;
		height: 100%;
		width: 100%;
		padding: 20px 0;
	}
	/* line 79, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_promo_addres_fields_home {
		margin: 0 0 10px 0;
		height: 100%;
		width: 100%;
		padding: 18px 0;
	}
	/* line 199, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_payment_title {
	  font-size: 18px;
	}
	/* line 202, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_payment_map_link {
	  font-size: 14px;
	}
	/* line 204, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_payment_info {
	  width: 100%;
	}
	/* line 206, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_payment_info_text {
	  font-size: 14px;
	}
	/* line 210, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_select_title {
	  font-size: 14px;
	}
	/* line 212, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_select_menu {
	  width: 100%;
	  box-shadow: none;
	}
	/* line 215, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_select_menu_item {
	  width: 100%;
	  border: 1px solid #ccc;
	  margin-top: 10px;
	  padding: 5px;
	  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2);
	}
	/* line 223, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_comment_text {
	  width: 100%;
	}
	/* line 225, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_btn {
	  width: 225px;
	  height: 55px;
	}
  }
  
  @media (min-width: 768px) and (max-width: 992px) {

	input[type="text"] {
		width: 100%;
		padding: 24px 0;
		text-align: center;
	}

	#pay_promo_surname {
		margin-left: 10px;
	}

	input[type="email"] {
		width: 100%;
		padding: 24px 0;
		margin-left: 10px;
		text-align: center;
	}

	/* line 231, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_content {
	  width: 100%;
	}
	/* line 234, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_promo {
	  width: 100%;
	}
	/* line 237, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_promo_data_title {
	  font-size: 18px;
	}
	/* line 241, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_promo_data_fields_name {
	  margin: 0 0 10px 0;
	  height: 100%;
	}
	/* line 244, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_promo_data_fields_surname {
	  margin: 0 0 10px 0;
	  height: 100%;
	}
	/* line 247, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_promo_data_fields_phone {
	  margin: 0 0 10px 0;
	  height: 100%;
	}
	/* line 250, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_promo_data_fields_mail {
	  margin: 0 0 10px 0;
	  height: 100%;
	}
	/* line 67, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_promo_addres_title {
		font-size: 18px;
	}

	.pay_promo_addres_fields_wrap {
		width: 50%;
	}

	/* line 70, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_promo_addres_fields_country {
		text-align: center;
		margin: 0;
		width: 100%;
		padding: 20px 0;
	}
	#pay_promo_city {
		margin-left: 10px;
	}
	/* line 73, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_promo_addres_fields_city {
		margin: 0 0 10px 0;
		height: 100%;
		width: 100%;
		padding: 18px 0;
	}
	/* line 76, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_promo_addres_fields_region {
		text-align: center;
		margin: 0;
		height: 100%;
		width: 100%;
		padding: 20px 0;
	}
	/* line 79, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_promo_addres_fields_home {
		margin: 0 0 10px 0;
		height: 100%;
		width: 100%;
		padding: 18px 0;
	}
	/* line 274, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_aside {
	  text-align: right;
	}
	/* line 276, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_aside_text {
	  font-size: 15px;
	}
	/* line 280, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_select_title {
	  font-size: 14px;
	}
	/* line 282, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_select_menu {
	  width: 100%;
	  box-shadow: none;
	}
	/* line 285, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_select_menu_item {
	  width: 50%;
	  border: 1px solid #ccc;
	  margin-top: 10px;
	  padding: 5px;
	  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2);
	}
	/* line 293, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_comment_text {
	  width: 50%;
	}
  }
  
  @media (min-width: 992px) and (max-width: 1200px) {

	input[type="text"] {
		width: 100%;
		padding: 24px 0;
		text-align: center;
	}

	#pay_promo_surname {
		margin-left: 10px;
	}

	input[type="email"] {
		width: 100%;
		padding: 24px 0;
		margin-left: 10px;
		text-align: center;
	}
	/* line 298, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_content {
	  width: 100%;
	}
	/* line 301, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_promo {
	  width: 100%;
	}
	/* line 304, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_promo_data_title {
	  font-size: 18px;
	}
	.pay_promo_addres_fields_wrap {
		width: 50%;
	}

	/* line 70, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_promo_addres_fields_country {
		text-align: center;
		margin: 0;
		width: 100%;
		padding: 20px 0;
	}
	#pay_promo_city {
		margin-left: 10px;
	}
	/* line 73, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_promo_addres_fields_city {
		margin: 0 0 10px 0;
		height: 100%;
		width: 100%;
		padding: 18px 0;
	}
	/* line 76, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_promo_addres_fields_region {
		text-align: center;
		margin: 0;
		height: 100%;
		width: 100%;
		padding: 20px 0;
	}

	.pay_aside {
		text-align: right;
	}
	/* line 79, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_promo_addres_fields_home {
		margin: 0 0 10px 0;
		height: 100%;
		width: 100%;
		padding: 18px 0;
	}
	.pay_select_menu_item {
		width: 50%;
	}
	/* line 343, C:/Users/User/Desktop/rippo-project/src/sass/_media-pay.sass */
	.pay_comment_text {
	  width: 50%;
	}
  }