<!DOCTYPE html>
<html lang="ru">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rippo – Проставки для увеличения клиренса</title>
    <!-- Smartsupp Live Chat script -->
    <script type="text/javascript">
  var _smartsupp = _smartsupp || {};
  _smartsupp.key = '5c4afd71cd45de9ddc7f6802293ac33b97d8e5dc';
  window.smartsupp||(function(d) {
    var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
    s=d.getElementsByTagName('script')[0];c=d.createElement('script');
    c.type='text/javascript';c.charset='utf-8';c.async=true;
    c.src='https://www.smartsuppchat.com/loader.js?';s.parentNode.insertBefore(c,s);
  })(document);
  </script>
  <noscript> Powered by <a href=“https://www.smartsupp.com” target=“_blank”>Smartsupp</a></noscript>
  <link
  rel="stylesheet"
  href="{% static 'base/css/fonts.css' %}"
/>
  <link
  rel="stylesheet"
  href="{% static 'base/css/base.css' %}"
/>
  <link
  rel="stylesheet"
  href="{% static 'header/css/styles.css' %}"
/>
<link
rel="stylesheet"
href="{% static 'cartmodal/css/styles.css' %}"
/>
<script src="{% static 'base/js/jquery.min.js' %}"></script>
    {% block head %}{% endblock head %}
  </head>
  <body>
    {% csrf_token %}
    <header>
		<div class="head">
			<div class="container container_header">
                <div class="head_promo">
					<div class="head_logo">
						<a href="/" class="head_logo_icons"><img src="{% static 'base/img/logo.svg' %}" alt="logo" class="head_img"></a>
                        <div class="head_descr">
                            Проставки для увеличения клиренса
                         </div>
                    </div>
					<div class="head_phone">
                        <img src="{% static 'header/icons/call.png' %}" alt="call" class="head_icon">
						<div class="head_phone_wrap">
                            <a href="#" class="head_number">+7 (978) 294-29-78</a>
                            <div class="head_subnumber">Ежедневно с 8:00 до 21:00</div>
                        </div>
					</div>
					<div class="head_last">
						<div class="head_last_cart">
							<button class="head_last_cart_btn">
                              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" class="head_last_cart_btn_img">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
                              </svg>
                              </button>
							<div class="head_last_cart_text">{{cart|length}}</div>
						</div>

						<a href="#" class="head_last_user">Войти</a>
					</div>
			    </div>
		    </div>
        </div>
		<nav class="navbar">
			<div class="container container_navbar">
                <div class="burger-menu">
                    <input id="menu-toggle" type="checkbox" />
                    <label class="menu-btn" for="menu-toggle">
                      <span></span>
                    </label>
                    <ul class="menubox">
                            <li class="menubox-text"><a class="menubox-text-item" href="/catalog/">Каталог</a></li>
                            <li class="menubox-text"><a class="menubox-text-item" href="/about/">О компании</a></li>
                            <li class="menubox-text"><a class="menubox-text-item" href="/feedbacks/">Отзывы</a></li>
                            <li class="menubox-text"><a class="menubox-text-item" href="/delivery-info/">Оплата и доставка</a></li>
                            <li class="menubox-text"><a class="menubox-text-item" href="#">Вопросы и ответы</a></li>
                            <li class="menubox-text"><a class="menubox-text-item" href="/contacts/">Контакты</a></li>
                    </ul>
                  </div>

				<div class="menu_link">
						<a href="/catalog/">Каталог</a>
						<a href="/about/">О компании</a>
						<a href="/feedbacks/">Отзывы</a>
						<a href="/delivery-info/">Оплата и доставка</a>
						<a href="#">Вопросы и ответы</a>
						<a href="/contacts/">Контакты</a>
				</div>
			</div>
		</nav>
	</header>
    {% block content %}{% endblock content %}
    <footer class="footer">
      <div class="container container_footer_top">
          <div class="footer_top">
              <div class="footer_rippo">
                <div class="footer_rippo_wrap">
                    <a href="/" class="footer_rippo_wrap_link"><img src="{% static 'base/img/logo.svg' %}" alt="logo" class="footer_logo"></a>
                </div>
                  <div class="head_descr footer_text">Проставки для увеличения клиренса</div>
                  <div class="footer_ip">ИП Нехамкин Дмитрий
                      <br>Вячеславович<br>ИНН: 910226323090
                  </div>
                  <div class="footer_icon">
                      <a href="#"><img src="{% static 'footer/img/telegram.svg' %}" alt="tg" class="footer_telegram"></a>
                      <a href="#"><img src="{% static 'footer/img/whatsapp.svg' %}" alt="wh"class="footer_whatsapp"></a>
                  </div>
              </div>
              <div class="footer_avito">
                  <a href="#" class="footer_avito_link"><img src="{% static 'footer/img/avito.png' %}" alt="avito" class="footer_avito_img"></a>
              </div>
              <div class="footer_info">
                  <a href="#" class="footer_info_color">Информация</a>
                  <a href="/delivery-info/" class="footer_info_item">Оплата и доставка</a>
                  <a href="#" class="footer_info_item">Политика обработки<br> данных</a>
                  <a href="#" class="footer_info_item">Полезные статьи</a>
                  <a href="#" class="footer_info_item">Гарантия и вовзрат</a>
                  <a href="#" class="footer_info_item">Публичная оферта</a>
              </div>
              <div class="footer_select">
                  <a href="#" class="footer_info_color">Разделы на сайте</a>
                  <a href="/catalog/" class="footer_info_item">Каталог</a>
                  <a href="/feedbacks/" class="footer_info_item">Отзывы</a>
                  <a href="/about/" class="footer_info_item">О компании</a>
                  <a href="#" class="footer_info_item">Вопросы и ответы</a>
                  <a href="/contacts/" class="footer_info_item">Контакты</a>
              </div>
              <div class="footer_call">
                  <div class="footer_call_number">
                      <a href="#" class="footer_call_number_phone">+7 (978) 294-29-78</a>
                      <a href="#" class="footer_call_number_phone">+7 (978) 596-58-50</a>
                      <a href="#" class="footer_call_number_phone">+7 (978) 815-81-58</a>
                  </div>
                  <div class="footer_call_descr">Пн-Вс: с 8:00 до 21:00</div>
                  <a href="#" class="footer_call_mail">info@rippo.ru</a>
              </div>
          </div>

          <div class="footer_bottom">
              <div class="container container_footer_bottom">
                  <div class="footer_bottom_descr">Принимаем к оплате:</div>

                  <div class="footer_bottom_img">
                      <img src="{% static 'footer/img/mastercard.png' %}" alt="master" class="footer_bottom_img_master">
                      <img src="{% static 'footer/img/maestro.png' %}" alt="maestro" class="footer_bottom_img_maestro">
                      <img src="{% static 'footer/img/visa.png' %}" alt="visa" class="footer_bottom_img_visa">
                      <img src="{% static 'footer/img/mir.svg' %}" alt="world" class="footer_bottom_img_world">
                      <img src="{% static 'footer/img/halva.png' %}" alt="halva" class="footer_bottom_img_halva">
                      <img src="{% static 'footer/img/yomoney.png' %}" alt="umoney" class="footer_bottom_img_umoney">
                      <img src="{% static 'footer/img/qiwi.svg' %}" alt="qiwi" class="footer_bottom_img_qiwi">
                  </div>

                  <div class="footer_bottom_finish">
                      <div class="footer_bottom_finish_item">2023 ⓒ Интернет-магазин проставок для увеличения клиренса Rippo.ru</div>
                      <div class="footer_bottom_finish_subitem">Публичная оферта</div>
                  </div>
              </div>
          </div>
      </div>
  </footer>

  <div class="modal">
	<div class="modal_container">
			<div class="modal_head">
				<button class="modal_btn">×</button>
				<h5 class="modal_head_title">
					<span class="fa fa-shopping-basket fa-fw"></span>
					&nbsp;&nbsp; Корзина покупок
				</h5>
			</div>

			<div class="modal_content">
				<!-- <div class="modal_content_alert">
					<button class="modal_btn">×</button>
					<i class="fa fa-info-circle"></i>
					&nbsp;&nbsp;Товар Проставки 7-297 добавлен в вашу корзину!
				</div> -->
                {% for item in cart%}
                <div class="modal_content_product">
				    <div class="modal_content_product_wrap">
                        <img src="{{item.photo_url}}" alt="" class="modal_content_product_wrap_img">
						</div>

						<div class="modal_content_product_descr">
							<b>Проставки {{item.article}}</b>
							<br>
							<a href="{{item.car_slug}}" class="modal_content_product_descr_link">Автомобиль: {{item.car_name}}</a>
							<br>
							Размер проставок: {{item.type}}
						</div>
                        <div class="modal_content_product_menu">
                            <button class="modal_content_product_menu_btn" onclick=on_decrement(this)>-</button>
                            <div class="modal_content_product_menu_item">{{item.quantity}}</div>
                            <button class="modal_content_product_menu_btn" onclick=on_increment(this)>+</button>
                        </div>
						<p class="modal_content_product_price">{% widthratio item.price 1 item.quantity %} ₽</p>
                        <input id="spacer_id" type="hidden" name="id" value="{{item.id}}" />
                        <input id="spacer_price" type="hidden" name="price" value="{{item.price}}" />
						<button class="modal_content_product_backet" onclick=on_basket(this)><img src="{% static 'cartmodal/img/trash.svg' %}" alt="trash" class="modal_content_product_backet_img"></button>
				</div>
                {% endfor %}
                {% if cart|length %}
				<div class="modal_content_product_text"><span class="modal_content_product_text_link">В корзине <b>{{cart|length}}</b> товаров </span></div>
                {% else %}
                <div class="modal_content_product_text"><span class="modal_content_product_text_link">Корзина пуста</span></div>
                {% endif %}
				<div class="modal_content_product_footer">
					<button class="modal_content_product_footer_btn">Продолжить закупки</button>
					<a href="/oplata/" class="modal_content_product_footer_btn red">Оформить заказ</a>
				</div>
            </div>
	</div>
  </div>
  <script src="{% static 'header/js/openCart.js' %}"></script>
  <script src="{% static 'cartmodal/js/modal.js' %}"></script>
  </body>
</html>
