<!DOCTYPE html>
<html lang="ru">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rippo - ваш магазин проставок</title>
    <!-- Smartsupp Live Chat script -->
    <script type="text/javascript">
  var _smartsupp = _smartsupp || {};
  _smartsupp.key = '5c4afd71cd45de9ddc7f6802293ac33b97d8e5dc';
  window.smartsupp||(function(d) {
    var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
    s=d.getElementsByTagName('script')[0];c=d.createElement('script');
    c.type='text/javascript';c.charset='utf-8';c.async=true;
    c.src='https://www.smartsuppchat.com/loader.js?';s.parentNode.insertBefore(c,s);
  })(document);
  </script>
  <noscript> Powered by <a href=“https://www.smartsupp.com” target=“_blank”>Smartsupp</a></noscript>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@400;700&display=swap" rel="stylesheet">
  <link
  rel="stylesheet"
  href="{% static 'base/css/base.css' %}"
/>
  <link
  rel="stylesheet"
  href="{% static 'header/css/styles.css' %}"
/>
<link
rel="stylesheet"
href="{% static 'footer/css/styles.css' %}"
/>
<link
rel="stylesheet"
href="{% static 'cartmodal/css/styles.css' %}"
/>
<script
src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
crossorigin="anonymous"
></script>
    {% block head %}{% endblock head %}
  </head>
  <body>
    {% csrf_token %}
    <header>
		<div class="head">
			<div class="head_container container">
					<div class="head_logo">
						<a href="#" class="head_logo_icons"><img src="{% static 'base/img/logo.svg' %}" alt="logo" class="head_img"></a>
					</div>
					<div class="head_descr">
						Проставки для увелечения клиренса
					 </div>
						<div class="head_phone">
							<div class="head_wrapper">
								<img src="{% static 'header/icons/call.png' %}" alt="call" class="head_icon">
								<a href="#" class="head_number">+7 (978) 294-29-78</a>
							</div>
							<div class="head_subnumber">Ежедневно с 8:00 до 21:00</div>
						</div>
						<div class="head_last">
							<div class="head_last_cart">
								<button class="head_last_cart_btn"><img src="{% static 'header/icons/cart.png' %}" alt="icon" class="head_last_cart_btn_img"></button>
								<div class="head_last_cart_text">{{cart|length}}</div>
							</div>
							<a href="#" class="head_last_user"><img src="{% static 'header/icons/user.png' %}" alt="icon" class="head_last_user_img"></a>
						</div>
			</div>
		</div>
		<nav class="navbar">
			<div class="navbar_container container">
				<div class="menu">
						<a href="/catalog/">Каталог</a>
						<a href="/about/">О компании</a>
						<a href="/feedbacks/">Отзывы</a>
						<a href="/delivery-info/">Оплата и доставка</a>
						<a href="#">Вопросы и ответы</a>
						<a href="/contacts/">Контакты</a>
				</div>
			</div>
		</nav>
	</header>
    {% block content %}{% endblock content %}
    <footer class="footer">
      <div class="footer_container">
          <div class="footer_top">
              <div class="footer_rippo">
                  <img src="{% static 'base/img/logo.svg' %}" alt="logo" class="footer_logo">
                  <div class="footer_descr">Интернет-магазин проставок<br>
                      для увеличения клиренса авто</div>
                  <div class="footer_ip">ИП Нехамкин Дмитрий
                      <br>Вячеславович<br>ИНН: 910226323090</div>
                  <div class="footer_icon">
                      <a href="#"><img src="{% static 'footer/img/telegram.svg' %}" alt="tg" class="footer_telegram"></a>
                      <a href="#"><img src="{% static 'footer/img/whatsapp.svg' %}" alt="wh"class="footer_whatsapp"></a>
                  </div>
              </div>
              <div class="footer_avito">
                  <a href="#" class="footer_avito_link"><img src="{% static 'footer/img/avito.png' %}" alt="avito" class="footer_avito_img"></a>
              </div>
              <div class="footer_info">
                  <a href="#" class="footer_info_color">Информация</a>
                  <a href="#" class="footer_info_item">Оплата и доставка</a>
                  <a href="#" class="footer_info_item">Политика обработки<br> данных</a>
                  <a href="#" class="footer_info_item">Полезные статьи</a>
                  <a href="#" class="footer_info_item">Гарантия и вовзрат</a> 
                  <a href="#" class="footer_info_item">Публичная оферта</a>
              </div>
              <div class="footer_select">
                  <a href="#" class="footer_info_color">Разделы на сайте</a>
                  <a href="#" class="footer_info_item">Каталог</a>
                  <a href="#" class="footer_info_item">Отзывы</a>
                  <a href="#" class="footer_info_item">О компании</a>
                  <a href="#" class="footer_info_item">Вопросы и ответы</a> 
                  <a href="#" class="footer_info_item">Контакты</a>
              </div>
              <div class="footer_call">
                  <div class="footer_call_number">
                      <a href="#" class="footer_call_number_phone">+7 (978) 294-29-78</a>
                      <a href="#" class="footer_call_number_phone">+7 (978) 596-58-50</a>
                      <a href="#" class="footer_call_number_phone">+7 (978) 815-81-58</a>
                  </div>
                  <div class="footer_call_descr">Пн-Вс: с 8:00 до 21:00</div>
                  <a href="#" class="footer_call_mail">info@rippo.ru</a>
              </div>
          </div>

          <div class="footer_bottom">
              <div class="footer_bottom_container">
                  <div class="footer_bottom_descr">Принимаем к оплате:</div>

                  <div class="footer_bottom_img">
                      <img src="{% static 'footer/img/mastercard.png' %}" alt="master" class="footer_bottom_img_master">
                      <img src="{% static 'footer/img/maestro.png' %}" alt="maestro" class="footer_bottom_img_maestro">
                      <img src="{% static 'footer/img/visa.png' %}" alt="visa" class="footer_bottom_img_visa">
                      <img src="{% static 'footer/img/mir.svg' %}" alt="world" class="footer_bottom_img_world">
                      <img src="{% static 'footer/img/halva.png' %}" alt="halva" class="footer_bottom_img_halva">
                      <img src="{% static 'footer/img/yomoney.png' %}" alt="umoney" class="footer_bottom_img_umoney">
                      <img src="{% static 'footer/img/qiwi.svg' %}" alt="qiwi" class="footer_bottom_img_qiwi">
                  </div>

                  <div class="footer_bottom_finish">
                      <div class="footer_bottom_finish_item">2023 ⓒ Интернет-магазин проставок для увеличения клиренса Rippo.ru</div>
                      <div class="footer_bottom_finish_subitem">Публичная оферта</div>
                  </div>
              </div>
          </div>
      </div>
  </footer>

  <div class="modal">
		<div class="modal_container">
			<div class="modal_head">
				<button class="modal_btn">×</button>
				<h5 class="modal_head_title">
					<span class="fa fa-shopping-basket fa-fw"></span>
					&nbsp;&nbsp; Корзина покупок
				</h5>
			</div>

			<div class="modal_content">
				<!-- <div class="modal_content_alert">
					<button class="modal_btn">×</button>
					<i class="fa fa-info-circle"></i>
					&nbsp;&nbsp;Товар Проставки 7-297 добавлен в вашу корзину!
				</div> -->
                <div class="modal_content_products_container">
                {% for item in cart%}
				    <div class="modal_content_product">
						<div class="modal_content_product_wrap">
							<a href="#" class="modal_content_produsct_link">
                            <img src="icons/modalicon.jpg" alt="" class="modal_content_product_wrap_img">
                            </a>
						</div>

						<div class="modal_content_prudoct_descr">
							<b>Проставки {{item.article}}</b>
							<br>
							<a href="{{item.car_slug}}" class="modal_content_product_descr_link">Автомобиль: {{item.car_name}}</a>
							<br>
							Размер проставок: {{item.type}}
						</div>

						<p class="modal_content_product_price">{{item.price}} ₽</p>
                        <input id="spacer_id" type="hidden" name="id" value="{{item.id}}" />
						<button class="modal_content_product_backet" onclick=on_basket(this)>Мусорка</button>
				</div>
                {% endfor %}
                </div>
				<div class="modal_content_product_text"><a href="#" class="modal_content_product_text_link">В корзине <b>1</b> товаров, на <b>1700 ₽</a></b> </div>

				<div class="modal_content_product_footer">
					<button class="modal_content_product_footer_btn">Продолжить закупки</button>
					<button class="modal_content_product_footer_btn red">Оформить заказ</button>
				</div>
			</div>
		</div>
	</div>
  <script src="{% static 'header/js/openCart.js' %}"></script>
  <script src="{% static 'cartmodal/js/modal.js' %}"></script>
  </body>
</html>
