body {
    font-family: "Poppins", sans-serif;
    font-family: "Inter", sans-serif;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}
@media (min-width: 576px) {
    .container {
        max-width: 540px;
        margin: auto;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
        margin: auto;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
        margin: auto;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
        margin: auto;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
        margin: auto;
    }
}

a {
    text-decoration: none;
    color: inherit;
}