.pay {
    padding: 20px 0 20px 0;
  }
  
  /* line 1057, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .pay_container {
    width: 1160px;
    margin: auto;
    font-family: 'Inter', sans-serif;
  }
  
  /* line 1061, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .pay_title {
    margin: 20px 0;
    font-size: 32px;
  }
  
  /* line 1064, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .pay_content {
    padding: 20px 10px;
    width: 1130px;
    margin: 0px 5px;
    background-color: white;
    border-radius: 10px;
  }
  
  /* line 1070, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .pay_content_table {
    width: 100%;
  }
  
  /* line 1072, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .pay_content_table_header {
    background-color: black;
  }
  
  /* line 1074, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .pay_content_table_header_photo {
    color: white;
    padding-left: 10px;
  }
  
  /* line 1077, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .pay_content_table_header_text {
    color: white;
    text-align: center;
  }
  
  /* line 1080, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .pay_content_table_body {
    padding-left: 10px;
    text-align: center;
    height: 55px;
    border-bottom: 1px solid #E8E8E8;
  }
  
  /* line 1085, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .pay_content_table_body_item {
    text-align-last: left;
    padding-left: 5px;
  }
  
  /* line 1089, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .pay_content_table_body_wrap_name {
    font-weight: 600;
    font-size: 15px;
  }
  
  /* line 1092, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .pay_content_table_body_wrap_size {
    font-size: 14px;
  }
  
  /* line 1094, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .pay_content_table_body_model {
    font-size: 15px;
  }
  
  /* line 1097, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .pay_content_table_body_menu_item {
    border: none;
    border-radius: 5px;
    width: 37px;
    height: 34px;
    font-weight: 600;
  }
  
  /* line 1103, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .pay_content_table_body_menu_text {
    display: inline-block;
    width: 50px;
    height: 34px;
  }
  
  /* line 1107, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .pay_content_table_body_menu_close {
    border: none;
    border-radius: 5px;
    width: 37px;
    height: 34px;
  }
  
  /* line 1112, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .pay_content_table_body_price {
    font-size: 15px;
  }
  
  /* line 1114, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .pay_content_table_body_total {
    font-weight: 600;
    font-size: 15px;
  }
  
  /* line 1118, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .pay_content_advance {
    text-align: right;
    margin-top: 15px;
  }
  
  /* line 1121, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .pay_content_advance_price {
    display: inline-block;
    min-width: 60px;
    margin: 0 25px;
  }
  
  /* line 1125, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .pay_content_advance_img {
    width: 54px;
    height: 15px;
  }
  
  /* line 1129, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .pay_aside {
    float: right;
    min-width: 280px;
    max-width: 900px;
    width: 24%;
    margin-top: 50px;
  }
  
  /* line 1135, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .pay_aside_text {
    font-size: 14px;
  }
  
  /* line 1138, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .pay_promo {
    width: 835px;
  }
  
  /* line 1140, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .pay_promo_data {
    padding: 20px 10px 20px 30px;
    border-left: 1px solid #e0e0e0;
    margin-left: 20px;
    margin-top: 20px;
  }
  
  /* line 1145, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .pay_promo_data_title {
    font-size: 20px;
    font-weight: 600;
  }
  
  /* line 1148, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .pay_promo_data_title::before {
    position: absolute;
    content: "1";
    width: 31px;
    height: 30px;
    margin-top: -5px;
    margin-left: -47px;
    text-align: center;
    padding: 7px;
    font-size: 14px;
    display: block;
    border-radius: 50%;
    background-color: white;
    box-shadow: 1px 1px 1px;
    color: black;
  }
  
  /* line 1164, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .pay_promo_data_fields {
    display: flex;
    flex-wrap: wrap;
  }
  
  /* line 1167, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .pay_promo_data_fields_name {
    width: 370px;
    height: 62px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    margin: 0 10px 10px 0px;
    padding: 18px 15px;
    color: #C8C8C8;
  }
  
  /* line 1176, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .pay_promo_data_fields_surname {
    width: 370px;
    height: 62px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    padding: 18px 15px;
    color: #C8C8C8;
  }
  
  /* line 1184, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .pay_promo_data_fields_phone {
    width: 370px;
    height: 62px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    padding: 18px 15px;
    color: #C8C8C8;
  }
  
  /* line 1192, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .pay_promo_data_fields_mail {
    width: 370px;
    height: 62px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    margin-left: 10px;
    padding: 18px 15px;
    color: #C8C8C8;
  }
  
  /* line 1201, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .pay_promo_addres {
    padding: 20px 10px 20px 30px;
    border-left: 1px solid #e0e0e0;
    margin-left: 20px;
    margin-top: 20px;
  }
  
  /* line 1206, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .pay_promo_addres_title {
    font-size: 20px;
    font-weight: 600;
  }
  
  /* line 1209, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .pay_promo_addres_title::before {
    position: absolute;
    content: "2";
    width: 31px;
    height: 30px;
    margin-top: -5px;
    margin-left: -47px;
    text-align: center;
    padding: 7px;
    font-size: 14px;
    display: block;
    border-radius: 50%;
    background-color: white;
    box-shadow: 1px 1px 1px;
    color: black;
  }
  
  /* line 1225, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .pay_promo_addres_fields {
    display: flex;
    flex-wrap: wrap;
  }
  
  /* line 1228, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .pay_promo_addres_fields_country {
    width: 370px;
    height: 62px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    margin: 0 10px 10px 0px;
    padding: 18px 15px;
  }
  
  /* line 1236, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .pay_promo_addres_fields_city {
    width: 370px;
    height: 62px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    padding: 18px 15px;
    color: #C8C8C8;
  }
  
  /* line 1244, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .pay_promo_addres_fields_region {
    width: 370px;
    height: 62px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    padding: 18px 15px;
  }
  
  /* line 1252, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .pay_promo_addres_fields_home {
    width: 370px;
    height: 62px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    margin-left: 10px;
    padding: 18px 15px;
    color: #C8C8C8;
  }
  
  /* line 1261, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .pay_payment {
    padding: 20px 10px 20px 30px;
    border-left: 1px solid #e0e0e0;
    margin-left: 20px;
    margin-top: 20px;
  }
  
  /* line 1266, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .pay_payment_title {
    font-size: 20px;
    font-weight: 600;
  }
  
  /* line 1269, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .pay_payment_title::before {
    position: absolute;
    content: "3";
    width: 31px;
    height: 30px;
    margin-top: -5px;
    margin-left: -47px;
    text-align: center;
    padding: 7px;
    font-size: 14px;
    display: block;
    border-radius: 50%;
    background-color: white;
    box-shadow: 1px 1px 1px;
    color: black;
  }
  
  /* line 1284, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .pay_payment_subtitle {
    font-size: 14px;
    font-weight: 600;
    margin-top: 20px;
  }
  
  /* line 1288, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .pay_payment_map {
    margin-top: 10px;
    width: 305px;
    height: 25px;
    background-color: #808080;
    border-radius: 5px;
  }
  
  /* line 1294, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .pay_payment_map_link {
    display: block;
    font-size: 15px;
    text-align: center;
    color: white;
    text-decoration: none;
  }
  
  /* line 1300, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .pay_payment_map_link:hover {
    color: white;
    opacity: .7;
  }
  
  /* line 1303, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .pay_payment_info {
    background-color: #fff;
    width: 746px;
    height: 56px;
    padding: 7px;
    margin-top: 10px;
  }
  
  /* line 1309, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .pay_payment_info_cdek {
    width: 45px;
    height: 45px;
  }
  
  /* line 1312, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .pay_payment_info_text {
    font-size: 15px;
  }
  
  /* line 1314, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .pay_payment_option {
    margin-top: 5px;
  }
  
  /* line 1316, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .pay_payment_post {
    background-color: #fff;
    width: 746px;
    height: 56px;
    padding: 15px;
    margin-top: 20px;
  }
  
  /* line 1322, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .pay_payment_post_text {
    margin-left: 10px;
    font-size: 14px;
  }
  
  /* line 1325, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .pay_select {
    padding: 20px 10px 20px 30px;
    border-left: 1px solid #e0e0e0;
    margin-left: 20px;
    margin-top: 20px;
  }
  
  /* line 1330, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .pay_select_title {
    font-size: 20px;
    font-weight: 600;
  }
  
  /* line 1333, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .pay_select_title::before {
    position: absolute;
    content: "4";
    width: 31px;
    height: 30px;
    margin-top: -5px;
    margin-left: -47px;
    text-align: center;
    padding: 7px;
    font-size: 14px;
    display: block;
    border-radius: 50%;
    background-color: white;
    box-shadow: 1px 1px 1px;
    color: black;
  }
  
  /* line 1348, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .pay_select_menu {
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2);
    width: 745px;
    border-radius: 7px;
    margin-top: 20px;
  }
  
  /* line 1353, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .pay_select_menu_item {
    background-color: #fff;
    width: 745px;
    height: 57px;
    border-bottom: 1px solid #ccc;
    border-radius: 7px;
    padding: 18px;
    margin: 0 0 1px 0;
  }
  
  /* line 1361, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .pay_select_menu_item_img {
    width: 124px;
    height: 16px;
  }
  
  /* line 1364, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .pay_select_menu_item_youkassa {
    width: 114px;
    height: 24px;
  }
  
  /* line 1367, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .pay_select_menu_item_cod {
    width: 24px;
    height: 24px;
  }
  
  /* line 1370, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .pay_select_menu_item_text {
    font-size: 15px;
  }
  
  /* line 1372, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .pay_comment {
    padding: 20px 10px 20px 30px;
    border-left: 1px solid #e0e0e0;
    margin-left: 20px;
    margin-top: 20px;
  }
  
  /* line 1377, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .pay_comment_text {
    width: 745px;
    height: 100px;
    background-color: #fff;
  }
  
  /* line 1381, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .pay_document {
    font-size: 15px;
    margin-top: 15px;
  }
  
  /* line 1384, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .pay_document_link {
    text-decoration: none;
  }
  
  /* line 1386, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .pay_btn {
    width: 250px;
    height: 65px;
    margin-top: 35px;
    background-color: red;
    color: white;
    font-size: 14px;
    font-weight: 600;
    border-radius: 7px;
    border: none;
  }
  
  /* line 1397, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .form-control {
    width: 100%;
    box-sizing: border-box;
    min-height: 100px;
    border: 1px solid 	#A9A9A9;
  }
  
  /* line 1402, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .post {
    margin-top: 30px;
  }
  
  /*# sourceMappingURL=style.css.map */