.cart {
    padding: 40px 0 40px 0;
  }
  
  /* line 901, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .cart_container {
    background-color: #fff;
    width: 1280px;
    margin: auto;
    padding: 40px 40px 70px 40px;
    font-family: 'Inter', sans-serif;
  }
  
  /* line 907, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .cart_item {
    display: flex;
    justify-content: space-between;
  }
  
  /* line 910, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .cart_item_btn {
    width: 200px;
    height: 41px;
    background-color: black;
    color: white;
    border-radius: 4px;
    font-size: 15px;
  }
  
  /* line 917, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .cart_subitem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F5F5F5;
    height: 53px;
    margin-top: 23px;
  }
  
  /* line 924, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .cart_subitem_wrap {
    margin-left: 23px;
  }
  
  /* line 926, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .cart_subitem_wrap_icon {
    width: 24px;
    height: 24px;
  }
  
  /* line 929, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .cart_subitem_btn {
    width: 200px;
    height: 41px;
    color: black;
    border: none;
    text-transform: uppercase;
    font-size: 15px;
  }
  
  /* line 937, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .cart_header {
    margin-top: 30px;
    width: 1200px;
    background-color: #F5F5F5;
    height: 55px;
  }
  
  /* line 944, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .cart_header_content_item {
    width: 480px;
    text-align: center;
  }
  
  /* line 947, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .cart_header_content_price {
    text-align: center;
    width: 183px;
  }
  
  /* line 950, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .cart_header_content_amount {
    text-align: center;
    width: 183px;
    padding-right: 60px;
  }
  
  /* line 954, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .cart_header_content_sum {
    width: 183px;
    padding-left: 16px;
  }
  
  /* line 958, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .cart_table {
    width: 1200px;
    height: 86px;
  }
  
  /* line 961, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .cart_table_content {
    border: 1px solid #E0E0E0;
  }
  
  /* line 963, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .cart_table_content_img {
    width: 91px;
    padding-left: 10px;
  }
  
  /* line 966, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .cart_table_content_img_icon {
    width: 60px;
    height: 50px;
  }
  
  /* line 969, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .cart_table_content_link {
    padding-left: 10px;
    color: black;
    text-decoration: none;
  }
  
  /* line 973, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .cart_table_content_link:hover {
    color: black;
    text-decoration: none;
  }
  
  /* line 976, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .cart_table_content_price {
    border: 1px solid #E0E0E0;
    text-align: center;
  }
  
  /* line 979, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .cart_table_content_btn {
    border: 1px solid #E0E0E0;
    text-align: center;
  }
  
  /* line 982, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .cart_table_content_btn_minus {
    border: none;
    width: 30px;
    height: 30px;
  }
  
  /* line 986, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .cart_table_content_btn_number {
    display: inline;
    vertical-align: middle;
  }
  
  /* line 989, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .cart_table_content_btn_plus {
    border: none;
    width: 30px;
    height: 30px;
  }
  
  /* line 993, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .cart_table_content_close {
    text-align: center;
  }
  
  /* line 995, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .cart_table_content_close_btn {
    width: 26px;
    height: 26px;
    border: 1px solid black;
    background-color: #fff;
    padding: 0;
    border-radius: 5px;
  }
  
  /* line 1002, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .cart_update {
    text-align: end;
    margin-top: 35px;
  }
  
  /* line 1005, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .cart_update_btn {
    width: 200px;
    height: 41px;
    background-color: #FFE839;
    color: black;
    border-radius: 2px;
    border: none;
    font-size: 15px;
    opacity: 0.4;
  }
  
  /* line 1014, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .cart_finish {
    display: flex;
    justify-content: end;
  }
  
  /* line 1017, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .cart_finish_wrap {
    width: 500px;
    margin-top: 70px;
  }
  
  /* line 1020, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .cart_finish_wrap_title {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
  }
  
  /* line 1024, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .cart_finish_wrap_item {
    margin-top: 40px;
  }
  
  /* line 1027, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .cart_finish_menu_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
  }
  
  /* line 1032, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .cart_finish_menu_item_descr {
    text-align: right;
  }
  
  /* line 1034, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .cart_finish_menu_item_total {
    text-transform: uppercase;
  }
  
  /* line 1036, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .cart_finish_menu_item_bigprice {
    font-size: 40px;
    font-weight: 600;
  }
  
  /* line 1039, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .cart_finish_promo {
    margin-top: 20px;
    text-align: right;
  }
  
  /* line 1042, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .cart_finish_promo_btn {
    width: 200px;
    height: 41px;
    background-color: black;
    color: white;
    border-radius: 4px;
    font-size: 15px;
  }
  
  /* line 1050, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .sum {
    margin-top: 25px;
  }
  
  /* line 1052, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .total {
    margin-top: 60px;
  }
  
  /*# sourceMappingURL=style.css.map */

  .modal {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
    top: -1000px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: scroll;
    padding: 60px 15px;
  }
  
  /* line 804, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .modal_container {
    background-color: #fff;
    width: 600px;
    margin: auto;
    border-radius: 7px;
  }
  
  /* line 809, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .modal_btn {
    float: right;
    font-size: 21px;
    font-weight: bold;
    opacity: .2;
    margin: 0;
    height: 25px;
    width: 25px;
    border: none;
    padding: 0;
    cursor: pointer;
    background: transparent;
    line-height: 1px;
  }
  
  /* line 822, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .modal_head {
    padding: 15px;
  }
  
  /* line 824, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .modal_head_title {
    font-weight: 600;
    color: #22232b;
  }
  
  /* line 827, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .modal_content {
    padding: 15px;
    border-top: 1px solid #e5e5e5;
  }
  
  /* line 831, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .modal_content_alert {
    padding: 10px 15px;
    width: 568px;
    height: 42px;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-bottom: 20px;
  }
  
  /* line 841, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .modal_content_product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px;
    border-radius: 3px;
    min-height: 20px;
    margin-bottom: 20px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
  }
  
  /* line 852, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .modal_content_product_wrap {
    border: 1px solid #ddd;
    padding: 5px;
    background-color: #fff;
    width: 60px;
  }
  
  /* line 858, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .modal_content_product_descr_link {
    color: black;
    text-decoration: none;
  }
  
  /* line 861, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .modal_content_product_descr_link:hover {
    color: black;
    text-decoration: underline;
  }
  
  /* line 864, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .modal_content_product_text {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* line 867, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .modal_content_product_text_link {
    text-decoration: none;
    color: black;
  }
  
  /* line 870, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .modal_content_product_text_link:hover {
    color: black;
  }
  
  /* line 872, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .modal_content_product_footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #e5e5e5;
    padding-top: 20px;
  }
  
  /* line 877, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .modal_content_product_footer_btn {
    background-color: #fff;
    border-color: #ccc;
    border-radius: 6px;
    border: 1px solid #e5e5e5;
    width: 176px;
    height: 34px;
    font-size: 15px;
  }
  
  /* line 885, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .modal_active {
    position: fixed;
    top: 0;
    visibility: visible;
    opacity: 1;
    transition: .3s;
  }
  