{% extends "base.html" %} {% load static %}{%block head %}
<link rel="stylesheet" href="{% static 'delivery-info/css/styles.css' %}" />
{% endblock %} {%block content %}
<section class="delivery">
  <div class="delivery_container">
    <a href="#" class="machine_menu_item">Главная</a> >
    <a href="#" class="machine_menu_item">Оплата и доставка</a>

    <h1 class="delivery_promo">Оплата и доставка</h1>

    <div class="delivery_title">
      <h2 class="delivery_title_top">Доставка по России</h2>
      <div class="delivery_title_info">
        Доставка до отделения транспартной компании или Почты РФ осуществляется
        <span class="delivery_title_info_item"> БЕСЛПАТНО </span>
      </div>
      <div class="delivery_title_bottom">
        Мы предлагаем клиентам следующие варианты доставки:
      </div>
    </div>

    <div class="delivery_menu">
      <img
        src="{% static 'delivery-info/img/cdek.svg' %}"
        alt="cdek"
        class="delivery_menu_icon"
      />
      <a href="https://www.cdek.ru/ru" class="delivery_menu_link"
        >Транспортная компания CДEK</a
      >
      <ul class="delivery_menu_item">
        <li class="delivery_menu_item_descr">
          Стоимость доставки формируется в соответствии с тарифами ТК CДEK и
          видна в момент оформления заказа на сайта
        </li>
        <li class="delivery_menu_item_descr">
          При определении цены применяются льготный тариф для интернет-магазинов
        </li>
        <li class="delivery_menu_item_descr">Самый быстрый вариант доставки</li>
        <li class="delivery_menu_item_descr">
          Оформить доставку можно до офиса ТК СДЭК (ПВЗ) в Вашем городе или до
          «двери»
        </li>
        <li class="delivery_menu_item_descr">
          Если в Вашем населенном пункте нет офисов ТК СДЭК, выберете доставку в
          ближайшем городе
        </li>
        <li class="delivery_menu_item_descr">
          Возможна оплата по факту получения товара «наложенный платёж», или
          онлайн при оформлении заказа
        </li>
      </ul>
    </div>

    <div class="delivery_menu">
      <img
        src="{% static 'delivery-info/img/russian-mail.png' %}"
        alt="cdek"
        class="delivery_menu_icon"
      />
      <a href="https://www.pochta.ru/" class="delivery_menu_link_russian"
        >Почта России</a
      >
      <ul class="delivery_menu_item">
        <li class="delivery_menu_item_descr">
          Стоимость доставки рассчитывается индивидуально в соответствии с
          тарифами Почты РФ
        </li>
        <li class="delivery_menu_item_descr">
          Доставка осуществляется до ближайшего почтового отделения в любом
          населённом пункте
        </li>
        <li class="delivery_menu_item_descr">
          Оплата производится онлайн при оформлении заказа
        </li>
        <li class="delivery_menu_item_descr">
          Отправка осуществляется после 100% предоплаты товара и услуг почты
          России
        </li>
      </ul>
    </div>

    <div class="delivery_pay">
      <h2 class="delivery_pay_promo">Оплата</h2>
      <div class="delivery_pay_img">
        <img
          src="{% static 'footer/img/visa.png' %}"
          alt="master"
          class="delivery_pay_img_visa"
        />
        <img
          src="{% static 'footer/img/mastercard.png' %}"
          alt=""
          class="delivery_pay_img_icon"
        />
        <img
          src="{% static 'footer/img/maestro.png' %}"
          alt=""
          class="delivery_pay_img_icon"
        />
        <img
          src="{% static 'footer/img/mir.svg' %}"
          alt=""
          class="delivery_pay_img_icon"
        />
        <img
          src="{% static 'footer/img/qiwi.svg' %}"
          alt=""
          class="delivery_pay_img_icon"
        />
      </div>

      <ul class="delivery_pay_menu">
        <li class="delivery_pay_menu_item">
          Оплата банковскими картами VISA, Mastercard, Maestro, МИР
        </li>
        <li class="delivery_pay_menu_item">
          Оплата из электронных кошельков Qiwi Wallet
        </li>
        <li class="delivery_pay_menu_item">
          Наложенным платежом, для заказов доставляемых ТК СДЭК
        </li>
        <li class="delivery_pay_menu_item">Безналичный расчет</li>
      </ul>
    </div>
  </div>
</section>

{% endblock %}
