/* line 1752, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
.panel_menu {
    height: 115px;
    background-color: #fff;
    padding: 25px 30px 28px 19px;
    border-radius: 15px;
    border: 1px solid #e1e2e8;
    box-shadow: 1px 1px 21px 3px rgba(0, 0, 0, 0.2);
  }
  
  /* line 1759, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .panel_menu_title {
    margin: 0;
    font-size: 22px;
  }
  
  /* line 1763, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .panel_menu_wrap {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }
  
  /* line 1767, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .panel_menu_wrap_item_brand {
    width: 145px;
    height: 31px;
    border-radius: 3px;
    border: none;
    font-size: 15px;
    background-color: #F5F5F5;
  }
  
  /* line 1775, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .panel_menu_wrap_item_model {
    width: 150px;
    height: 31px;
    border-radius: 6px;
    border: none;
    font-size: 15px;
    background-color: #F5F5F5;
  }
  
  /* line 1783, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .panel_menu_wrap_item_years {
    height: 31px;
    width: 200px;
    border-radius: 3px;
    border: none;
    font-size: 15px;
    background-color: #F5F5F5;
  }
  
  /* line 1791, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .panel_menu_wrap_item_modification {
    height: 31px;
    width: 170px;
    border-radius: 3px;
    border: none;
    font-size: 15px;
    background-color: #F5F5F5;
  }
  
  /* line 1799, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .panel_menu_item_btn_click {
    width: 205px;
    height: 50px;
    border-radius: 9px;
    border: none;
    background-color: #FFC815;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
  }

  .main_container {
    margin: auto;
  }