.reviews {
    padding: 20px 0 0 0;
  }
  
  /* line 591, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .reviews_container {
    width: 1160px;
    margin: auto;
  }
  
  /* line 594, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .reviews_comment {
    margin-top: 75px;
  }
  
  /* line 596, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .reviews_title {
    margin-top: 32px;
    font-size: 32px;
  }
  
  /* line 599, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .reviews_main {
    list-style-type: none;
  }
  
  /* line 601, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .reviews_main_optima {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* line 605, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .reviews_main_promo {
    display: flex;
    flex-wrap: wrap;
  }
  
  /* line 608, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .reviews_main_promo_img {
    margin-right: 20px;
    width: 32px;
    height: 32px;
  }
  
  /* line 612, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .reviews_main_promo_info {
    max-width: 100%;
  }
  
  /* line 614, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .reviews_main_promo_info_buy {
    display: flex;
    margin-top: 10px;
    border-radius: 12px;
    background-color: #e1e2e8;
    padding: 2px 8px;
  }
  
  /* line 620, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .reviews_main_promo_info_buy_img {
    width: 18px;
    height: 20px;
  }
  
  /* line 623, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .reviews_main_promo_info_buy_text {
    margin-left: 8px;
    color: #3d5165;
    font-size: 14px;
  }
  
  /* line 627, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .reviews_main_promo_time {
    margin-right: 8px;
    font-size: 15px;
  }
  
  /* line 631, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .reviews_main_promo_item {
    margin-left: 5px;
    font-size: 15px;
  }
  
  /* line 634, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .reviews_main_promo_name {
    color: black;
    font-size: 15px;
    border-bottom: 1px dashed;
    font-weight: 600;
    text-decoration: none;
  }
  
  /* line 640, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .reviews_main_promo_name:hover {
    opacity: .7;
    color: black;
  }
  
  /* line 644, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .reviews_text {
    margin-top: 30px;
    font-size: 18px;
  }
  
  /* line 647, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .reviews_img {
    margin-top: 30px;
  }
  
  /* line 649, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
  .reviews_img_icon {
    margin-left: 15px;
    width: 50px;
    height: 50px;
  }
  