{% extends "base.html" %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'catalogue/css/styles.css' %}" />
{% endblock %} {% block content %}
<div class="content">
  <div class="container">
    <h1>каталог</h1>
    <div class="content_subcatalog">быстрый подбор проставок</div>
    <div class="container">
      <div class="content_menu">
           <h3 class="content_menu_title">Быстрый подбор</h3>

           <div class="content_menu_wrap">
               <div class="content_menu_wrap_item">
                   <p class="content_menu_wrap_item_text">Марка авто</p>
                   <select class="content_menu_wrap_item_brand">
                    <option selected value="-1">Не выбрано</option>
                    {% for brand in brands %}
                    <option value="{{brand.pk}}">{{brand.name}}</option>
                    {% endfor %}
                   </select>
               </div>
               <div class="content_menu_wrap_item">
                   <p class="content_menu_wrap_item_text">Модель авто</p>
                   <select class="content_menu_item_model">
                       <option value="-1" selected="selected">Все</option>
                   </select>
               </div>
               <div class="content_menu_wrap_item">
                   <p class="content_menu_wrap_item_text">Год выпуска</p>
                   <select class="content_menu_wrap_item_years">
                       <option value="-1" selected="selected">Все</option>
                   </select>
               </div>
               <div class="content_menu_wrap_item">
                   <p class="content_menu_wrap_item_text">Модификация авто</p>
                   <select class="content_menu_wrap_item_modification">
                       <option value="-1" selected="selected">Все</option>
                   </select>
               </div>

               <div class="content_menu_wrap_btn">
                   <button class="content_menu_item_btn_click">Подобрать</button>
               </div>
           </div>
      </div>
   </div>
  </div>

<div class="brand_table">
    {% for brands in brands_table %}
    <div class="brand_table__item">
    <span class="letter">{{brands.0.name.0}}</span>
      <div class="brand_list">
        {% for brand in brands %}
        <a href="/brand/{{brand.slug}}/" class="brand_list__item">{{brand.name}}</a>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
</div>
</div>
</div>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
  integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
  crossorigin="anonymous"
></script>
<script src="{% static 'catalogue/js/index.js' %}"></script>
{% endblock %}
