{% extends "base.html" %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'catalogue/css/styles.css' %}" />
{% endblock %} {% block content %}
<section class="content">
  <div class="container container_content">
    <h1 class="content_title">Каталог</h1>
    <div class="content_selection_wrap">
      <div class="panel_menu">
        <h3 class="panel_menu_title">Быстрый подбор</h3>
        <div class="panel_menu_wrap">
            <div class="panel_menu_wrap_item">
                <p class="panel_menu_wrap_item_text">Марка авто</p>
                <select class="panel_menu_wrap_item_brand">
                    <option selected="" value="-1">Не выбрано</option>
                    {% for brand in brands %}
                    <option value="{{brand.pk}}">{{brand.name}}</option>
                    {% endfor %}
                  </select>
                </select>
            </div>
            <div class="panel_menu_wrap_item">
                <p class="panel_menu_wrap_item_text">Модель авто</p>
                <select class="panel_menu_wrap_item_model">
                    <option value="-1" selected="selected">Все</option>
                </select>
            </div>
            <div class="panel_menu_wrap_item">
                <p class="panel_menu_wrap_item_text">Год выпуска</p>
                <select class="panel_menu_wrap_item_years">
                    <option value="-1" selected="selected">Все</option>
                </select>
            </div>
            <div class="panel_menu_wrap_item">
                <p class="panel_menu_wrap_item_text">Модификация авто</p>
                <select class="panel_menu_wrap_item_modification">
                    <option value="-1" selected="selected">Все</option>
                </select>
            </div>
            <div class="panel_menu_wrap_btn">
                <button class="panel_menu_item_btn_click">Подобрать</button>
            </div>
        </div>
      </div>
    </div>

<ul class="brand_table">
    {% for brand in brands %}
    <li class="brand_table__item">
      <a href="/brand/{{brand.slug}}/" class="brand_list__item">{{brand.name}}</a>
    </li>
    {% endfor %}
</ul>
</div>
</section>
</div>
<script src="{% static 'catalogue/js/index.js' %}"></script>
{% endblock %}
