{% extends "base.html" %} {% load static %}{%block head %}
<link rel="stylesheet" href="{% static 'about/css/styles.css' %}" />
{% endblock %} {%block content %}
<section class="compani">
  <div class="compani_container">
    <h1 class="compani_subitem">О компании</h1>

    <div class="compani_content">
      <div class="compani_content_text">
        <div class="compani_content_up">
          Интернет магазин проставок для увелечения клиренса RIPPO
        </div>
        <div class="compani_content_descr">
          Продукция торговой марки RIPPO, является одним из лидеров по продаже
          проставок для увеличения клиренса на Российском рынке.<br /><br />

          Благодаря накопленному многолетнему опыту проектирования и
          производства мы можем предложить ассортимент проставок RIPPO для
          большинства Европейских, Корейских, Японских и Американских
          автомобилей.<br /><br />

          Так же мы внедряем в производство проставки клиренса для автомобилей
          Китайских брендов, поставляемых на Российский рынок.<br /><br />

          Мы предлагаем своим клиентам выгодные условия сотрудничества,
          квалифицированную помощь в подборе проставок для конкретной модели
          автомобиля, гарантируем своевременное выполнение заказов.<br /><br />

          Организовываем доставку во все регионы России.
        </div>
        <div class="compani_content_bottom">
          Мы предлагает специальные условия для СТО, автомагазинов и интернет
          магазинов.
          <a href="#" class="compani_content_bottom_contacts">Контакты</a>
        </div>
      </div>

      <div class="compani_content_optima">
        <div class="compani_content_optima_circle">
          <img
            src="{% static 'about/img/shield.png' %}"
            alt="shield"
            class="compani_content_optima_img"
          />
        </div>
        <div class="compani_content_optima_updescr">Гарантия на 5 лет</div>
        <div class="compani_content_optima_descr">
          на продукцию представленную на<br />
          нашем сайте с момента покупки<br />
          без ограничения пробега.
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
