/* line 106, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
.content {
  padding: 50px 0 0 50px;
}

/* line 108, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
.content_catalog {
  margin-top: 80px;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
}

/* line 114, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
.content_subcatalog {
  margin-top: 60px;
}

/* line 116, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
.content_title {
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
}

/* line 120, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
.content_selection_wrap {
  margin-top: 45px;
}

/* line 123, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
.brand_table {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  height: 600px;
  margin-top: 50px;
}

/* line 130, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
.brand_table__item {
  display: flex;
  padding: 4px 0;
  width: 130px;
}

/* line 135, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
.brand_list {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: 103px;
}

/* line 140, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
.brand_list__item {
  color: black;
  text-decoration: none;
  font-size: 15px;
  border: 1px solid;
  padding: 4px;
  margin-top: 8px;
}

/* line 147, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
.letter {
  color: #FFC815;
  font-size: 17px;
  font-weight: 600;
  width: 10px;
}
/* line 1731, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
.panel_menu {
  height: 115px;
  background-color: #fff;
  padding: 25px 30px 28px 19px;
  border-radius: 15px;
  border: 1px solid #e1e2e8;
  box-shadow: 1px 1px 21px 3px rgba(0, 0, 0, 0.2);
}

/* line 1738, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
.panel_menu_title {
  margin: 0;
  font-size: 22px;
}

/* line 1742, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
.panel_menu_wrap {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

/* line 1746, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
.panel_menu_wrap_item_brand {
  width: 145px;
  height: 31px;
  border-radius: 3px;
  border: none;
  font-size: 15px;
  background-color: #F5F5F5;
}

/* line 1754, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
.panel_menu_wrap_item_model {
  width: 150px;
  height: 31px;
  border-radius: 6px;
  border: none;
  font-size: 15px;
  background-color: #F5F5F5;
}

/* line 1762, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
.panel_menu_wrap_item_years {
  height: 31px;
  width: 200px;
  border-radius: 3px;
  border: none;
  font-size: 15px;
  background-color: #F5F5F5;
}

/* line 1770, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
.panel_menu_wrap_item_modification {
  height: 31px;
  width: 170px;
  border-radius: 3px;
  border: none;
  font-size: 15px;
  background-color: #F5F5F5;
}

/* line 1778, C:/Users/xyi/Desktop/rippo-project/src/sass/_general.sass */
.panel_menu_item_btn_click {
  width: 205px;
  height: 50px;
  border-radius: 9px;
  border: none;
  background-color: #FFC815;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .content .brand_table {
    width: 100%; }
  .content .brand_item {
    width: 114px; }
  .panel_menu {
    display: flex;
    flex-direction: column;
    height: auto; }
    .panel_menu_wrap {
      display: flex;
      align-items: center;
      flex-direction: column; }
      .panel_menu_wrap_btn {
        margin: 22px 0 0 0;
        width: 100%;
        height: 31px; }
        .panel_menu_wrap_btn_click {
          width: 100%;
          font-size: 15px;
          height: 100%; }
      .panel_menu_wrap_item {
        width: 100%; }
        .panel_menu_wrap_item_brand {
          width: 100%;
          max-width: 100%; }
        .panel_menu_wrap_item_model {
          width: 100%;
          max-width: 100%; }
        .panel_menu_wrap_item_years {
          width: 100%;
          max-width: 100%; }
        .panel_menu_wrap_item_modification {
          width: 100%;
          max-width: 100%; } }

@media (min-width: 768px) and (max-width: 992px) {
  .content .brand_table {
    width: 100%; }
  .content .brand_item {
    width: 114px; }
  .panel_menu_wrap {
    display: flex;
    align-items: center; }
    .panel_menu_wrap_btn {
      height: 35px; }
      .panel_menu_wrap_btn_click {
        width: 100%;
        font-size: 15px; }
    .panel_menu_wrap_item_brand {
      width: 100%;
      max-width: 100%; }
    .panel_menu_wrap_item_model {
      width: 100%;
      max-width: 100%; }
    .panel_menu_wrap_item_years {
      width: 100%;
      max-width: 100%; }
    .panel_menu_wrap_item_modification {
      width: 100%;
      max-width: 100%; } }

@media (min-width: 768px) and (max-width: 992px) {
  .container {
    max-width: 960px;
    margin: auto; }
  .content .brand_table {
    width: 100%; }
  .content .brand_item {
    width: 114px; }
  .panel_menu_wrap {
    display: flex;
    align-items: center; }
    .panel_menu_wrap_btn {
      height: 35px; }
      .panel_menu_wrap_btn_click {
        width: 100%;
        font-size: 15px; }
    .panel_menu_wrap_item_brand {
      width: 100%;
      max-width: 100%; }
    .panel_menu_wrap_item_model {
      width: 100%;
      max-width: 100%; }
    .panel_menu_wrap_item_years {
      width: 100%;
      max-width: 100%; }
    .panel_menu_wrap_item_modification {
      width: 100%;
      max-width: 100%; } }

@media (min-width: 992px) and (max-width: 1200px) {
  .container {
    max-width: 1140px;
    margin: auto; }
  .content .brand_table {
    width: 100%; }
  .content .brand_item {
    width: 114px; }
  .panel_menu_wrap_item {
    width: 150px; }
    .panel_menu_wrap_item_brand {
      width: 100%;
      max-width: 100%; }
    .panel_menu_wrap_item_model {
      width: 100%;
      max-width: 100%; }
    .panel_menu_wrap_item_years {
      width: 100%;
      max-width: 100%; }
    .panel_menu_wrap_item_modification {
      width: 100%;
      max-width: 100%; } }

@media (min-width: 1200px) and (max-width: 1400px) {
  .container {
    max-width: 1320px;
    margin: auto; }
  .content .brand_table {
    width: 100%; }
  .content .brand_item {
    width: 114px; }
  .panel_menu {
    display: flex;
    flex-direction: column;
    height: auto; }
    .panel_menu_wrap_btn {
      margin: 22px 0 0 0;
      height: 50px;
      width: 205px; }
      .panel_menu_wrap_btn_click {
        width: 100%;
        font-size: 15px;
        height: 100%; }
    .panel_menu_wrap_item {
      width: 180px; }
      .panel_menu_wrap_item_brand {
        width: 100%;
        max-width: 100%; }
      .panel_menu_wrap_item_model {
        width: 100%;
        max-width: 100%; }
      .panel_menu_wrap_item_years {
        width: 100%;
        max-width: 100%; }
      .panel_menu_wrap_item_modification {
        width: 100%;
        max-width: 100%; } }
