.container {
  width: 1160px;
  margin: auto;
}
.content_menu {
  width: 100%;
  height: 115px;
  background-color: #e1e2e8;
  padding: 25px 30px 28px 19px;
  border-radius: 6px;
  border: 0px solid #efefef;
}

.content_menu_title {
  margin: 0;
  font-size: 20px;
}

.content_menu_wrap {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.content_menu_item_btn_click   {
  width: 205px;
  height: 50px;
  border-radius: 9px;
  border: none;
  background-color: #FFC815;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
}

.content_menu_wrap_item_brand {
  width: 145px;
  height: 31px;
  border-radius: 3px;
  border: none;
}

.content_menu_item_model {
  width: 200px;
  height: 31px;
  border-radius: 6px;
  border: none;
}

.content_menu_wrap_item_years {
  height: 31px;
  width: 107px;
  border-radius: 3px;
  border: none;
}

.content_menu_wrap_item_modification {
  height: 31px;
  width: 200px;
  border-radius: 3px;
  border: none;
}