{% extends "base.html" %} {% load static %}{%block head %}
<link rel="stylesheet" href="{% static 'cars/css/styles.css' %}" />
{% endblock %} {%block content %}
<section class="machine">
  <div class="container">
    <div class="machine_menu">
      <a href="/" class="machine_menu_item">Главная</a> >
      <a href="/catalog/" class="machine_menu_item">Каталог</a> >
      <a href="/brand/{{brand.slug}}" class="machine_menu_item"
        >{{brand.name}}</a
      >
      {% if car %} >
      <a href="/car/{{car.slug}}" class="machine_menu_item">{{car.name}}</a>
      {% endif %} {% if generation %} >
      <a href="/generation/{{generation.slug}}" class="machine_menu_item"
        >{{generation}}</a
      >
      {% endif %}
    </div>
    <h1 class="machine_title">Модельный ряд</h1>

    <div class="machine_ninja">
      {% for car in cars %}
      <div class="machine_wrapper">
        <a href="/{{url}}/{{car.slug}}/" class="machine_wrapper_car">
          {% if car.photo %}
          <img src="{{car.photo.url}}" alt="" class="machine_wrapper_car_img" />
          {% else %}
          <img
            src="/media/cars/default-car.png"
            alt=""
            class="machine_wrapper_car_img"
          />
          {% endif %}
          <div class="machine_wrapper_car_item">
            <h3 class="machine_wrapper_car_item_supdescr">{{car.name}}</h3>
            <!-- <div class="machine_wrapper_car_item_descr"></div> -->
            <!-- <p href="#" class="machine_wrapper_car_item_subdescr">
              1987 по 2003
            </p> -->
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
