{% extends "base.html" %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'spacers/css/styles.css' %}" />
{%endblock%} {% block content %}
<section class="products">
  <div class="products_container">
    <div class="products_menu">
      <a href="/" class="products_menu_item">Главная</a> >
      <a href="/catalog/" class="products_menu_item">Каталог</a> >
      <a href="/brand/{{brand.slug}}" class="products_menu_item"
        >{{brand.name}}</a
      >
      >
      <a href="/car/{{car.slug}}" class="products_menu_item">{{car.name}}</a> >
      <a href="/generation/{{generation.slug}}" class="products_menu_item"
        >{{generation}}</a
      >
    </div>
    <h1 class="products_menu_years">{{modification.fullname}}</h1>
    <div class="products_descr">Представлено 2 товара</div>
    <input id="car_id" type="hidden" name="id" value="{{modification.pk}}" />
    <div class="products_list">
      {% csrf_token %}
      {% for spacer in spacers %}
      <div class="products_list_card">
        <h3 class="products_list_card_title">{{spacer.category}}</h3>
        <div class="products_list_card_article">
          <p class="products_list_card_article_text">
            Артикул: {{spacer.article}}
          </p>
        </div>
        <img src="{{spacer.photo.url}}" alt="screen" class="products_img" />
        {% if spacer.description %}
        <p>Комментарий: {{spacer.description}}</p>
        {% endif %}
        <div class="products_list_card_wrapper">
          <button class="add20mm_btn" class="products_list_card_wrapper_btn">
            <input id="add20mm" type="hidden" name="id" value="{{spacer.pk}}" />
            <p class="products_list_card_wrapper_size">В корзину - 20mm -</p>
            <p class="products_list_card_wrapper_price">
              {{spacer.price20mm}}.00 ₽
            </p>
          </button>
          <button class="add30mm_btn" class="products_list_card_wrapper_btn">
            <input id="add30mm" type="hidden" name="id" value="{{spacer.pk}}" />
            <p class="products_list_card_wrapper_size">В корзину - 30mm -</p>
            <p class="products_list_card_wrapper_price">
              {{spacer.price30mm}}.00 ₽
            </p>
          </button>
          <button class="add40mm_btn" class="products_list_card_wrapper_btn">
            <input id="add40mm" type="hidden" name="id" value="{{spacer.pk}}" />
            <p class="products_list_card_wrapper_size">В корзину - 40mm -</p>
            <p class="products_list_card_wrapper_price">
              {{spacer.price40mm}}.00 ₽
            </p>
          </button>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<script src="{% static 'spacers/js/index.js' %}"></script>
{% endblock %}
